<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <td>{{ uni.type }}<br></td>
    <td>{{ uni.name }}<br></td>
    <td>{{ uni.faculty }}<br></td>
    <td>{{ uni.department }}<br></td>
    <td>{{ uni.min_point }}<br></td>
    <br>

    <a style="color:rgba(11,227,29,0.99);" href="/university">Main List</a><br>
    <a style="color: #0055f3" href="{{ uni.get_absolute_url}}/update">Update</a> <br>
    <a style="color: crimson" href="{{ uni.id }}/delete">Delete</a>
</body>
</html>